@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/// HOME
.container {
	 height: auto;
	 overflow: hidden;
}
.right {
	margin-left: 5px;
	width: 70%;
	float: right;
}
.left {
	float: none;
	width: auto;
	overflow: hidden;
}
@media (max-width: 600px) {
	.right {
		width: 100%;
		float: none;
		margin-left: 0px;
	}
}

/// PEOPLE
.conspirators {
	float: right;
}
@media all and (max-width: 540px) {
	.conspirators {
		display: none;
	}
}

.date {
	font-size: .9em;
	color: #bbb;
}

/// GALLERY
.gallery	dl {
	text-align: center;
}
.gallery	dd {
	width: 100%;
	border: solid 1px gray;
	padding: 10px;
	margin: 10px;
}

/// GLOBAL
.hiddendate {
	display: none;
}
.audioPlayer {
}
.audio_player {
	padding-left: 10px;
	width: 100%;
}
.audio_title {
}
.source, .credit, .reviewer {
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 2px;
	color: #666;
	font-size: .9em;
	background-color: #ddddee;
}
.image {
	border: 1px solid #333;
	background-color: 'white';
	padding: 4px;
	border-radius: 5px;
}
.image:hover {
	outline: 2px solid;
}
.caption {
	padding: 3px;
}
.credits {
	height: 100%;
	text-align: center;
}
.song {
}
.g_details, .g_bootleg, .g_with, .g_who, .g_soundman {
	margin-left: 10px;
	margin-bottom: 10px;
}
.iview_a, .lyric_annotation, .annotation {
	border-radius: 10px;
	margin: 10px;
	color: #555;
	letter-spacing: 0.01em;
	word-spacing: 0.12em;
	padding: 10px;
	padding-left: 40px;
	background-color: rgba(248,248,248,0.8);
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(https://jazzbutcher.com/assets/quote.png);
}
.iview_a:before {
}
.iview_q:before {
	content: "";
}
.iview_q {
	font-weight: bold;
	font-size: 1.05em;
	margin: 10px;
}
.iview_title {
	font-size: 1.5em;
	background-color: #AFF1C3;
	padding: 5px;
}
.iview_title a {
	white-space: nowrap;
}
.iview_intro, .iview_outro {
	border: 2px solid #aaa;
	margin-bottom: 20px;
	background-color: rgba(243,243,243,0.5);
	padding: 10px;
}
/* video handling */
.js-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}
.js-video.widescreen {
	padding-bottom: 56.34%;
}
.js-video.vimeo {
	padding-top: 0;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.nav_heading {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1em;
}
.navsep:before {
	color: black;
	content: "|";
	padding: 5px;
}
.gigTS {
	display: none;
}
img {
	max-width: 100%;
}
textplus1 {
	font-size: 1.5em;
}
.review {
	padding: 5px;
	margin-bottom: 20px;
	background-color: rgba(243,243,243,0.5);
}
.gig_soon:before {
}
.gig_soon {
	background-color: #66ff66;
	padding: 5px;
}
.gig_future {
	background-color: #aaddaa;
	padding: 5px;
}
.gig_past {
	background-color: #ddddee;
	padding: 5px;
}
.gig_sumo a {
	color: #fff;
}
.gig_sumo a {
	color: #fff;
}
.gig_sumo:before {
	content: url(https://jazzbutcher.com/images/performance_sumo.png);
}
.gig_jbc:before {
	content: url(https://jazzbutcher.com/images/performance_jbc.png);
}
.gig_eg:before {
	content: url(https://jazzbutcher.com/images/performance_eg.png);
}
.gig_wilson:before {
	content: url(https://jazzbutcher.com/images/performance_wilson.png);
}
.gig_duo:before {
	content: url(https://jazzbutcher.com/images/performance_duo.png);
}
.gig_interview:before {
	content: "Interview";
}
.gig_solo:before {
	content: url(https://jazzbutcher.com/images/performance_solo.png);
}
.gig_tribute:before {
	content: "Memorial gig";
}
.gig_wilson {
	background-color: #ee0000;
	padding: 5px;
	margin-bottom: 5px;
}
.gig_pane {
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-bottom: 5px;
}
.gig_nopat:before {
	content: url(https://jazzbutcher.com/images/performance_nopat.png);
}
.gig_nopat {
}
.gig_listing_poster {
	text-align: center;
	max-width: 100%;
}
.gig_listing_date {
	max-width: 100%;
	font-size: .85em;
	color: #333;
}
.gig_listing_details {
	background-color: #cceeff;
	padding: 5px;
}
.gig_listing_extras {
	text-align: right;
}
.smalltext, .press_tags, .song_author {
	font-size: 80%;
	color: #666;
}
.press_tags {
	margin-bottom: 10px;
}
.smallertext {
	color: #666;
	font-size: 60%;
}
.menuDiv {
	padding: 3px;
	margin: 3px;
	border: 1px solid green;
}
.homeContainer {
	margin: 4px 4px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #AFF1E4;
	font-size: 1.1em;
	border: 1px solid #666;
}
.homeHeader {
	display: flex;
	align-items: center;
}
.headingItem, .headingItemClickable {
	color: #222;
	border-radius: 4px;
	background-color: #BCF1AF;
	margin: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
}
.headingItemClickable:hover {
	outline: 2px solid;
}
.homeFeature {
	color: #222;
	border-radius: 4px;
	background-color: rgba(175,241,228,0.5);
	padding: 5px;
	width: 100%;
	margin-bottom: 5px;
}
.listItem, .album_press {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	color: #444;
	padding: 5px;
	background-color: rgba(250,250,250,0.6);
}
.listItem b {
	color: #000;
	background-color: #AFF1C3;
	padding: 2px;
}
.album_press li {
	margin-top: .35em;
}
.album_press a {
	font-weight: bold;
	color: #00c;
	background-color: #AFF1C3;
	padding: .15em;
	margin-top: 2px;
}
dd {
	margin-left: 15px;
	margin-right: 10px;
}
blockquote {
	margin: 10px;
	margin-left: 25px;
}
.li-date {
	font-weight: bold;
	color: #000;
	background-color: #AFF1C3;
	padding: 3px;
}
.li-location {
	color: #666;
}
.li-blurb {
	color: #666;
}
.listenItem {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #444;
	background-color: rgba(250,250,250,0.8);
	padding: 5px;
	margin-bottom: 3px;
}
.listenItem b {
	color: #000;
	background-color: #AFF1C3;
	padding: 3px;
}
a {
	text-decoration: none;
	color: blue;
}
.leading {
	line-height: 1.5;
}
body {
	background-image: url(https://jazzbutcher.com/images/jbcback2.gif);
	background-attachment: fixed;
	letter-spacing: 0.01em;
	color: #444;
	margin: 4px;
	font-size: 1em;
}
.nav { 
	width: 130px;
	height: 100%;
	border-left: 1px solid #ccc; 
	position: fixed;
	top: 0px; 
		right: 0px;
	z-index: 1000; 
	padding-left: 1px;
	background-color: #f6f6f6;
}
.nav a {
	margin:3px;
}
.horn {
}

.main { 
	margin-right: 130px; 
	margin-top: 0px;
	padding: 0px;  
	height: 100%;  
}
.saveSpace { 
	padding-top: 2px;
}
.menuButton { 
	position: fixed;
	top: 0px; 
	right: 0px; 
	display: none; 
	margin: 0px;
}
p {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 0px;
}
img_main {
	display: grid;
	grid-template-columns:
		repeat(auto-fit, minmax(250px, 1fr));
}
img_figure {
	margin: 0;
}
img_img {
	display: block;
	width: 100%;
	box-shadow: -1px 0px 0px rgba(0,0,0,0.06);
}
@supports (display: grid) {
}
@supports (initial-letter: 1.1) or
(-webkit-initial-letter: 1.1) {
p::first-letter {
}
}

@media all and (max-width: 700px) {
	.nav {
	position: fixed; 
	width: 130px;
	border: 1px solid #666; 
	top: 0px; 
	left: calc(100% - 135px);
	}
	.horn {
	}
	.main { 
	margin-right: 0px; 
	}
	.saveSpace { 
	display: none; 
	}
	.menuButton { 
	display: inline; 
	}
}
/* arrows */
.right-arrow {
	display: inline-block;
	position: relative;
	background: orange;
	padding: 0px;
}
.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid orange;
}
.left-arrow {
	margin-left: 5px;
	display: inline-block;
	position: relative;
	background: lightgrey;
	padding: 0px;
}
.left-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid lightgrey;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
/* masonry */
/* https://medium.com/@_jh3y/how-to-pure-css-masonry-layouts-a8ede07ba31a#.27486l1i1 */
.ml1 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-column-count: 1;
	 -moz-column-count: 1;
			column-count: 1;
	-webkit-column-gap: 0;
	 -moz-column-gap: 0;
			column-gap: 0;
	position: relative;
}
.ml1 * {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
.ml2 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-column-count: 2;
	 -moz-column-count: 2;
			column-count: 2;
	-webkit-column-gap: 0;
	 -moz-column-gap: 0;
			column-gap: 0;
	position: relative;
}
.ml2 * {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
.ml3 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-column-count: 3;
	 -moz-column-count: 3;
			column-count: 3;
	-webkit-column-gap: 0;
	 -moz-column-gap: 0;
			column-gap: 0;
	position: relative;
}
.ml3 * {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.ml-panel {
	margin: 0;
	padding: 5px;
}

.ml-pnl {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.ml-pnl__cntnt {
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	width: 100%;
}
.ml-pnl__cntnt--img {
	max-width: 100%;
	padding: 0;
}

.ml-clstr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
}
.ml-clstr--vrt {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
}

.ml-clstr--hrz {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}
.ml-clstr__sgmnt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}
.ml-clstr__sgmnt--rw {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
}
.ml-clstr__sgmnt--clmn {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.ml-clstr__sgmnt--hlf {
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
.ml-clstr__sgmnt--qrt {
	-webkit-flex-basis: 25%;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
}
.lyrics {
	font-style: normal;
	white-space: pre-line;
}
.lyrics_tablature {
	margin-top: -20px;
	font-family: Courier, monospace;
	white-space: pre-wrap;
}
.lyrics_verse {
	margin-top: -20px;
}
.lyrics_chorus:before {
	font-weight: bold;
	font-style: normal;
	content: "Chorus";
}
.lyrics_chorus_define {
	margin-left: 20px;
	font-style: italic;
}
.lyrics_chorus_define:before {
	margin-left: -20px;
	font-weight: bold;
	font-style: normal;
	content: "Chorus:";
}
/* album stylings */
.release {
	border: 1px solid #aaa;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 5px;
	padding: 5px;
	background-color: rgba(175,241,228,0.5);
}
.album_thumb {
	max-width: 150px;
	flex: 1;
}
.release_title {
	font-weight: bold;
}
.release_title a, .album_title a {
	color: #00d;
	background-color: #AFF1C3;
	padding: 3px;
}
.album_title {
	font-weight: bold;
	font-size: 1.2em;
}
.album_details {
	padding-right: 5px;
	flex: 2;
}
.album_type {
	font-size: .9em;
	color: #666;
}
.album_blurb {
	margin-top: 10px;
}
.album_purchase {
	font-size: 1.2em;
	margin-top: 10px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 320px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.roundedFull {
	none: 0;
	sm: 0.125rem;
	default: 0.25rem;
	md: 0.375rem;
	lg: 0.5rem;
	full: 9999px;
	large: 12px;
}

.search.found {
	padding: 5px;
	background-color: #BCF1AF;
	font-style: italic;
}

.search.notfound {
	padding: 5px;
	background-color: #FFA500;
	font-style: italic;
}
.letter {
	outline: solid;
	outline-width: 1px;
	margin: 5px;
	padding: 5px;
}
