h3 {
	font-size: 1.25em;
	font-weight: 900;
	margin: 10px;
}
.fiascoBox {
	background: rgba(200, 200, 200, .25);
	padding: 1em;
	margin: .5em;
	border: 1px solid black;
	border-radius: 10px;
}
.fiascoFixed {
	font-family: monospace;
	margin: 20px;
}
